<%+header%>

<h2>
	<a id="content" name="content">客户端日志</a>
</h2>

<div class="cbi-map-descr">
</div>

<table width="100%" cellspacing="10">
	<tbody>
		<tr class="cbi-section-table-row cbi-rowstyle-1">
			<td width="33%"><strong>配置文件</strong></td>
			<td><a href="<%="/"..nixio.fs.basename(dirname)..".tar"%>">打包下载</a></td>
	</tbody>
</table>

<h3>
	scutclient日志
</h3>

<div id="syslog">
	<iframe src="<%=luci.dispatcher.build_url('admin/scutclient/get_log')%>" width="100%" frameborder="0" scrolling="no" onload="resizeIframe(this)">
	</iframe>
</div>

<script type="text/javascript" language="javascript">
function resizeIframe(obj) {
  obj.style.height = obj.contentWindow.document.body.scrollHeight + 'px';
}
</script>

<%+footer%>
