<%
-- LuCI by libc0607 (libc0607@gmail.com)
-- 华工路由群：262939451

local network_status = {}
network_status.ipaddr = luci.sys.exec("uci get network.wan.ipaddr")
network_status.netmask = luci.sys.exec("uci get network.wan.netmask")
network_status.gateway = luci.sys.exec("uci get network.wan.gateway")
network_status.dns = luci.sys.exec("uci get network.wan.dns")
network_status.macaddr = luci.sys.exec("uci get network.wan.macaddr")


function get_wan_port()
	-- 啊..应该用uci库的不过没区别
	return  string.sub(luci.sys.exec("ifstatus wan|grep \\\"device\\\"|awk {'print $2'}"), 2, -4)
end

 
function get_client_version(pkg_name)
	-- 这个可能不准确 openwrt bb/cc上没问题
	return string.find(luci.sys.exec("opkg list-installed"), pkg_name)
		and luci.sys.exec("opkg list-installed|grep "..pkg_name.."|grep -v luci|awk '{print $3}'")
		or  nil
end


function get_client_status(exec_name)
	local s = nil
	s = string.find(luci.sys.exec("ps|grep scutclient|grep -v grep"), "scutclient")
	if s == nil then
		return translate("没有运行")
	else
		return translate("正在运行") 
	end
end

-- Wi-Fi

if string.sub(luci.sys.exec("wifi status|grep up|head -n 1|awk {'print $2'}"), 1, 4) == "true" then
	ssid ='<td width="33%"><strong>Wi-Fi SSID ：</strong></td>'
		..'<td>'..luci.sys.exec("uci get wireless.@wifi-iface[0].ssid")..'</td>'
else
	ssid ='<td><strong>Wi-Fi 未开启</strong></td>'
end

-- 这里好乱啊但是不想改
if string.sub(luci.sys.exec("uci get network.wan.proto"), 1, 6) ~= "static" then
	wanip = '<tr class="cbi-section-table-row cbi-rowstyle-2"><td><strong>WAN口不是静态地址</strong></td></tr>'
else
	wanip = '<tr class="cbi-section-table-row cbi-rowstyle-2"><td width="33%"><strong>IP地址</strong></td><td id="status_ipaddr">'..network_status.ipaddr..'</td></tr>'
		  ..'<tr class="cbi-section-table-row cbi-rowstyle-1"><td width="33%"><strong>子网掩码</strong></td><td id="status_netmask">'..network_status.netmask..'</td></tr>'
		  ..'<tr class="cbi-section-table-row cbi-rowstyle-2"><td width="33%"><strong>网关</strong></td><td id="status_gateway">'..network_status.gateway..'</td></tr>'
		  ..'<tr class="cbi-section-table-row cbi-rowstyle-1"><td width="33%"><strong>DNS</strong></td><td id="status_dns">'..network_status.dns..'</td></tr>'
		  ..'<tr class="cbi-section-table-row cbi-rowstyle-2"><td width="33%"><strong>MAC</strong></td><td id="status_macaddr">'..network_status.macaddr..'</td></tr>'
end

-- 客户端信息
client_version = get_client_version("scutclient")
	and '<td width="33%"><strong>'..translate("已安装版本：")..'</strong></td><td>'..get_client_version("scutclient")..'</td>'
	or '<td><strong>'..translate("scutclient未安装")..'</strong></td>'

-- 重拨/下线
logoff = luci.dispatcher.build_url("admin/scutclient/status").."?logoff=1"
scut_status = '<td width="33%"><strong>'..translate("scutclient")..'</strong></td>'
			..'<td>'..get_client_status("scutclient")..'</td>'
%>

<%+header%>
<h2><a id="content" name="content">客户端状态</a></h2>
<fieldset class="cbi-section">
<legend>状态</legend>
<div><table width="100%" cellspacing="10"><tbody>
<tr class="cbi-section-table-row cbi-rowstyle-1"><%=scut_status%></tr>
<tr class="cbi-section-table-row cbi-rowstyle-2"><%=ssid%></tr>
<tr class="cbi-section-table-row cbi-rowstyle-1"><td width="33%">WAN口</td><td><%=get_wan_port()%></td></tr>
<%=wanip%>
</tbody></table>
</fieldset>
<fieldset class="cbi-section">
<legend>客户端设置</legend>
<div><table width="100%" cellspacing="10"><tbody>
<tr class="cbi-section-table-row cbi-rowstyle-1"><td width="33%"><strong>功能</strong></td><td><a href="<%=logoff%>">下线</a></td></tr>
<tr class="cbi-section-table-row cbi-rowstyle-2"><%=client_version%></tr>
<tr class="cbi-section-table-row cbi-rowstyle-1"><td width="33%"><strong>开机启动</strong></td><td><%=luci.sys.exec("uci get scutclient.@option[0].enable")%></td></tr>
<tr class="cbi-section-table-row cbi-rowstyle-2"><td width="33%"><strong>账号</strong></td><td><%=luci.sys.exec("uci get scutclient.@scutclient[0].username")%></td></tr>
<tr class="cbi-section-table-row cbi-rowstyle-1"><td width="33%"><strong>密码</strong></td><td><%=luci.sys.exec("uci get scutclient.@scutclient[0].password")%></td></tr>
<tr class="cbi-section-table-row cbi-rowstyle-2"><td width="33%"><strong>认证模式</strong></td><td><%=luci.sys.exec("uci get scutclient.@option[0].client")%></td></tr>
<tr class="cbi-section-table-row cbi-rowstyle-1"><td width="33%"><strong>主机名</strong></td><td><%=luci.sys.exec("uci get scutclient.@drcom[0].hostname")%></td></tr>
<tr class="cbi-section-table-row cbi-rowstyle-2"><td width="33%"><strong>Drcom版本</strong></td><td><%=luci.sys.exec("uci get scutclient.@drcom[0].version")%></td></tr>
<tr class="cbi-section-table-row cbi-rowstyle-1"><td width="33%"><strong>Hash</strong></td><td><%=luci.sys.exec("uci get scutclient.@drcom[0].hash")%></td></tr>
<tr class="cbi-section-table-row cbi-rowstyle-2"><td width="33%"><strong>服务器IP</strong></td><td><%=luci.sys.exec("uci get scutclient.@drcom[0].server_auth_ip")%></td></tr>
</tbody></table>
</fieldset>
<script type="text/javascript" language="javascript">
	var ip = document.getElementById("status_ipaddr").innerHTML;
	var gateway = document.getElementById("status_gateway").innerHTML;
	var isCorrect = true;
	for (var i=0;i<3;i++)
	{
		isCorrect = isCorrect && (parseInt(ip.match(/\d+/g)[i]) == parseInt(gateway.match(/\d+/g)[i]));
	}
	if(!isCorrect)
	{
		alert("IP地址 和 网关 前三位不一致，请仔细检查！");
		document.getElementById("status_ipaddr").style.color="red";
		document.getElementById("status_gateway").style.color="red";
	}
	else
	{
		document.getElementById("status_ipaddr").style.color="black";
		document.getElementById("status_gateway").style.color="black";
	}
</script>
<%+footer%>
